@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 0 0.1rem 1rem 0.5rem #efefef;
  width: 100%;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}
header .brand-logo {
  width: 20rem;
}
header .nav-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
header .nav-links .nav-link__item {
  list-style: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-weight: 40rem;
  font-size: 2.1rem;
}
header .nav-links .nav-link__item a {
  color: #000;
  text-decoration: none;
}
header .nav-links .nav-link__item:hover a {
  color: #0B9C1B;
  text-decoration: underline;
  text-decoration-color: #0B9C1B;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 1.2rem;
}
header form {
  display: flex;
  align-items: center;
}
header form input {
  padding: 1rem;
  outline: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: none;
  border: none;
  background-color: #efefef;
  letter-spacing: 0.1rem;
  font-weight: 40rem;
  font-size: 1.6rem;
}
header form input:focus {
  border: 0.1rem solid #0B9C1B;
  border-right: none;
}
header form button {
  padding: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  border: none;
  background-color: #0B9C1B;
  width: 4rem;
  display: flex;
  align-items: center;
}
header .burger {
  cursor: pointer;
  display: none;
}
header .burger span {
  padding: 0.1rem 1.1rem;
  background: #0B9C1B;
  margin: 0.5rem 0;
  display: block;
}
header .arrow {
  cursor: pointer;
  display: none;
}
header .arrow img {
  width: 4rem;
}

@media screen and (max-width: 1080px) {
  header .navbar {
    width: 100%;
    padding: 2rem 4rem;
  }
  header .brand-logo {
    width: 15rem;
  }
  header .nav-links .nav-link__item {
    font-size: 1.9rem;
  }
  header form input {
    width: 15rem;
  }
  header form button img {
    width: 1.8rem;
  }
}
@media screen and (max-width: 980px) {
  header {
    position: relative;
  }
  header .nav-links {
    width: 65%;
  }
  header form {
    position: absolute;
    top: 90%;
    left: 72%;
    margin-top: 2rem;
    transition: all 0.7s ease-in;
  }
  header form input {
    width: 20rem;
  }
  header .arrow {
    cursor: pointer;
    display: block;
  }
  header .arrow img {
    width: 4rem;
  }
}
@media screen and (max-width: 860px) {
  header .nav-links {
    position: absolute;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 20%;
    background-color: #efefef;
    height: 100vh;
    width: 50%;
    padding: 5rem 0;
    text-align: center;
  }
  header form {
    display: none;
  }
  header .burger {
    display: block;
  }
  header .burger span {
    display: block;
  }
  header .arrow {
    display: none;
  }
}