@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.hide {
  display: none !important;
}

.show {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  box-shadow: 0 0.1rem 1rem 0.5rem #efefef;
  width: 100%;
  background-color: #fff;
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 2rem 0;
  margin: 0 auto;
}
header a .brand-logo {
  width: 20rem;
}
header .nav-links {
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
header .nav-links .nav-link__item {
  list-style: none;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-weight: 400;
  font-size: 2.1rem;
}
header .nav-links .nav-link__item a {
  color: #000;
  text-decoration: none;
}
header .nav-links .nav-link__item:hover a {
  color: #0B9C1B;
  text-decoration: underline;
  text-decoration-color: #0B9C1B;
  text-decoration-thickness: 0.3rem;
  text-underline-offset: 1.2rem;
}
header form {
  display: flex;
  align-items: center;
}
header form input {
  padding: 1rem;
  outline: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: none;
  border: none;
  background-color: #efefef;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 1.6rem;
}
header form input:focus {
  border: 0.1rem solid #0B9C1B;
  border-right: none;
}
header form button {
  padding: 1rem;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  cursor: pointer;
  border: none;
  background-color: #0B9C1B;
  width: 4rem;
  display: flex;
  align-items: center;
}
header .burger {
  cursor: pointer;
  display: none;
}
header .burger span {
  padding: 0.1rem 1.1rem;
  background: #0B9C1B;
  margin: 0.5rem 0;
  display: block;
}
header .arrow {
  cursor: pointer;
  display: none;
}
header .arrow img {
  width: 4rem;
}

/************************HERO SECTION***********************/
main {
  /******************** INFO SECTION*********************/
  /******************CARDS SECTION*******************/
}
main .banner {
  min-height: 90vh;
  background-image: url("/images/slide1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .banner-btn {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
main .banner-btn .btn__prev,
main .banner-btn .btn__next {
  padding: 2rem;
  width: 4rem;
  height: 5rem;
  background-color: #0B9C1B;
  opacity: 0.5;
  cursor: pointer;
}
main .banner-btn .btn__prev:hover,
main .banner-btn .btn__next:hover {
  opacity: 1;
}
main .info__summary {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem;
  background: linear-gradient(120deg, #FEB201 50%, #0B9C1B 50%);
}
main .info__summary h2 {
  z-index: 2;
  width: 50%;
  color: #fff;
  font-weight: 400;
  font-size: 3.6rem;
  font-weight: 500;
}
main .info__summary .info__badges {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 45%;
  gap: 3rem;
}
main .info__summary .info__badges span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
}
main .info__summary .info__badges .badge {
  position: relative;
  padding: 2rem 2.5rem;
  width: 23rem;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  border-radius: 0.7rem;
  border: 0.1rem solid #FEB201;
  background: linear-gradient(120deg, #0B9C1B 50%, #FEB201 50%);
}
main .info__summary .info__badges .badge i {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 3rem;
}
main .info__summary .info__badges .badge p {
  margin: 0 auto;
}
main .info__summary .info__badges .badge .number {
  font-weight: 400;
  font-size: 3.2rem;
  font-weight: 600;
}
main .info__summary .info__badges .badge .text {
  font-weight: 400;
  font-size: 1.9rem;
}
main .cards__container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 8rem;
}
main .cards__container .card {
  padding: 2rem;
  cursor: pointer;
  border-radius: 0.9rem;
  box-shadow: 0.2rem 0.2rem 2rem 0.5rem #efefef;
}
main .cards__container .card .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
main .cards__container .card .card-header h3 {
  font-size: 3rem;
  color: #0B9C1B;
  font-weight: 400;
  text-decoration: underline;
  text-decoration-color: #0B9C1B;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
}
main .cards__container .card .card-header i {
  font-size: 2.7rem;
  color: #0B9C1B;
}
main .cards__container .card .card-body {
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 1.6rem;
}
main .cards__container .card:hover h3,
main .cards__container i {
  color: #fff;
  text-decoration-color: #fff;
}
main .cards__container .card:hover {
  background-color: #0B9C1B;
  color: #fff;
  box-shadow: none;
}
main .cards__container .card:hover i {
  color: #fff;
}

/******************INQUIRY SECTION*******************/
.contact__container {
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  padding: 0 5rem;
  background: linear-gradient(120deg, #FEB201 50%, #0B9C1B 50%);
}
.contact__container .instruction {
  width: 50%;
}
.contact__container .instruction h2 {
  font-weight: 500;
  font-size: 3.6rem;
}
.contact__container .instruction p {
  line-height: 2.5rem;
  font-weight: 400;
  font-size: 2.1rem;
}
.contact__container form {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 2rem;
  background-color: #fff;
  font-size: 5rem;
}
.contact__container form input, .contact__container form select, .contact__container form textarea {
  padding: 1rem 1rem;
  outline: none;
  background-color: #efefef;
  border: none;
}
.contact__container form input:focus, .contact__container form select:focus, .contact__container form textarea:focus {
  border: 0.1rem solid #0B9C1B;
}
.contact__container form button {
  padding: 1.5rem 2rem;
  background-color: #0B9C1B;
  color: #fff;
  cursor: pointer;
  border: none;
  width: 60%;
  border-radius: 0.5rem;
  font-weight: 600;
  font-size: 1.6rem;
}
.contact__container form button:hover {
  background-color: #0db41f;
}

@media screen and (max-width: 1080px) {
  header .navbar {
    width: 100%;
    padding: 2rem 4rem;
  }
  header .brand-logo {
    width: 15rem;
  }
  header .nav-links .nav-link__item {
    font-size: 1.9rem;
  }
  header form input {
    width: 15rem;
  }
  header form button img {
    width: 1.8rem;
  }
  /******************** INFO SECTION*********************/
  main {
    /******************CARDS SECTION*******************/
  }
  main .info__summary h2 {
    font-weight: 400;
    font-size: 3.2rem;
  }
  main .info__summary .info__badges {
    gap: 2rem;
  }
  main .info__summary .info__badges span {
    gap: 2rem;
  }
}
@media screen and (max-width: 980px) {
  header {
    position: relative;
    transition: transform 0.6s ease;
  }
  header .nav-links {
    width: 65%;
  }
  header form {
    position: absolute;
    top: -60%;
    left: 72%;
    margin-top: 2rem;
    transition: transform 0.6s ease;
    z-index: 5;
  }
  header form input {
    width: 20rem;
  }
  header .arrow {
    cursor: pointer;
    display: block;
    transition: transform 0.6s ease;
  }
  header .arrow img {
    width: 4rem;
  }
  header .toggle-form {
    transform: translateY(400%);
  }
  header .rotate-arrow {
    transform: rotateX(180deg);
  }
  /******************** INFO SECTION*********************/
  main {
    /******************CARDS SECTION*******************/
  }
  main .info__summary {
    flex-direction: column;
    background: #0B9C1B;
  }
  main .info__summary h2 {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
    font-weight: 500;
    font-size: 3.2rem;
  }
  main .info__summary .info__badges .badge {
    width: 25rem;
  }
  main .info__summary .info__badges .badge .number {
    font-weight: 500;
    font-size: 3rem;
  }
  main .cards__container .card {
    margin-bottom: 4rem;
  }
  main .cards__container .card .card-header h3 {
    font-size: 2.2rem;
  }
  main .cards__container .card .card-header i {
    font-size: 2.3rem;
  }
  /******************INQUIRY SECTION*******************/
  .contact__container {
    padding: 10rem 5rem;
    flex-direction: column;
    background: #0B9C1B;
  }
  .contact__container .instruction {
    width: 70%;
    margin-bottom: 4rem;
  }
  .contact__container form {
    width: 70%;
  }
}
@media screen and (max-width: 860px) {
  header .nav-links {
    position: fixed;
    flex-direction: column;
    justify-content: space-around;
    top: 0;
    left: 100%;
    background-color: #efefef;
    height: 100%;
    width: 50%;
    padding: 5rem 0;
    text-align: center;
    transition: transform 0.6s ease;
  }
  header form {
    display: none;
  }
  header .burger {
    display: block;
    z-index: 2;
    transition: transform 0.6s ease;
  }
  header .burger span {
    display: block;
  }
  header .arrow {
    display: none;
  }
  .nav-open {
    transform: translateX(-100%);
  }
  .toggle .line1 {
    transform: rotateZ(45deg);
    transition: all 1s ease;
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotateZ(-45deg);
    transition: all 1s ease;
  }
}
@media screen and (max-width: 780px) {
  main .cards__container {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 650px) {
  main .info__summary h2 {
    font-weight: 500;
    font-size: 3rem;
  }
}
@media screen and (max-width: 570px) {
  /******************** INFO SECTION*********************/
  main {
    /******************CARDS SECTION*******************/
  }
  main .info__summary {
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  main .info__summary h2 {
    font-weight: 500;
    font-size: 2.8rem;
  }
  main .info__summary .info__badges {
    flex-direction: column;
    width: 90%;
  }
  main .info__summary .info__badges span {
    width: 100%;
  }
  main .info__summary .info__badges .badge {
    width: 90%;
    color: #fff;
  }
  main .info__summary .info__badges .badge i {
    font-size: 2.5rem;
  }
  main .info__summary .info__badges .badge p {
    margin: 0 auto;
  }
  main .info__summary .info__badges .badge .number {
    font-weight: 400;
    font-size: 3rem;
  }
  main .cards__container .card {
    margin-bottom: 4rem;
  }
  .contact__container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 490px) {
  header .nav-links {
    width: 100%;
  }
  /******************INQUIRY SECTION*******************/
  .contact__container .instruction {
    width: 100%;
    margin-bottom: 2rem;
  }
  .contact__container form {
    width: 100%;
  }
}
@media screen and (max-width: 390px) {
  main .cards__container .card .card-header h3 {
    font-size: 2rem;
  }
}