.page-head {
  background-color: $secondary;
  color: #fff;
  padding: 3rem 0;

  .page-nav {
    width: 90%;
    margin: 0 auto;
  }

  .page-nav-links {
    display: flex;
    justify-content: space-between;
    width: 18%;

    .page-nav-link__item {
      list-style: none;
      cursor: pointer;
      @include text-sm($weight: 500);

      a {
        text-decoration: none;
        color: $info;
      }
    }
  }

  .page-title {
    margin-top: 2.5rem;
    @include text-md($weight: 500);
  }
}

.about-container {
  width: 100%;

  .about-info {
    display: flex;
    width: 90%;
    margin: 2rem auto;
    gap: 2rem;
  }

  .about-info-text {
    h3 {
      margin-bottom: 1.5rem;
      @include text-md($weight: 500);
    }

    p {
      line-height: 2.5rem;
      @include text-xsm();
    }
  }

  .profile img {
    width: 20rem;
    height: 25rem;
  }

  .team {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding: 10rem 0;
    margin: 0 auto;

    h2 {
      text-decoration: underline;
      text-decoration-color: $secondary;
      text-decoration-thickness: 0.3rem;
      text-underline-offset: 1.2rem;
      margin-bottom: 10rem;
      // text-transform: uppercase;
      @include text-md();
    }

    .team-members{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
    }

    .team-members span {
      width: 20rem;
      height: 25rem;

      .overlay {
        position: absolute;
        width: inherit;
        height: inherit;
        background: rgba($secondary, 0.8);
        color: #fff;
        text-align: center;
        padding: 3rem 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        display: none;

        h3 {
          letter-spacing: 0.1rem;
          // padding: 1rem 0;
          @include text-sm($size: 2.3rem, $weight: 500);
        }

        p {
          // margin-top: 1rem;
          @include text-xsm($size: 1.8rem);
        }

        a {
          text-decoration: none;
          color: #fff;
          @include text-xsm();
        }

        .social-icons {
          width: 100%;
          display: flex;
          justify-content: space-evenly;
          align-items: center;

          .fa-brands {
            color: $secondary;
            background-color: #fff;
            padding: 1rem;
            font-size: 1.5rem;
            border-radius: 1rem;

            &:hover{
              background-color: $secondary;
              color: #fff;
            }
          }
          .fa-facebook-f{
            padding: 1rem 1.3rem;
          }
        }
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .team-members span:hover .overlay{
      display: flex;
      animation: MoveInTop 0.7s ease-in-out backwards;
    }
  }
}
