@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow Semi Condensed", sans-serif;
}

// Colors
$secondary: #0b9c1b;
$warning: #f90308;
$info: #feb201;
$gray: #efefef;
$white: #fff;

// Fonts
@mixin text-xsm($weight: 400, $size: 1.6rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin text-sm($weight: 400, $size: 2.1rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin text-md($weight: 400, $size: 3.2rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin text-lg($weight: 400, $size: 3.6rem) {
  font-weight: $weight;
  font-size: $size;
}

@mixin text-xlg($weight: 400, $size: 4.8rem) {
  font-weight: $weight;
  font-size: $size;
}

// Util classes
.hide {
  display: none !important;
}

.show {
  display: flex !important;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Animations
// .animate-dropdown {
//   animation-name: MoveInBottom;
//   animation-duration: 0.2s;
//   animation-timing-function: ease-out;
//   animation-fill-mode: backwards;
//   animation-delay: 0.75s;
// }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes MoveInTop{
  0%{
    opacity: 0;
    // transform: translateY(-30px);
    transform: rotateX(90deg);
  }

  100%{
    opacity: 1;
    // transform: translateY(0);
    transform: rotateX(0);
  }
}

