header {
  box-shadow: 0 0.1rem 1rem 0.5rem $gray;
  width: 100%;
  background-color: #fff;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 2rem 0;
    margin: 0 auto;
  }

  a .brand-logo {
    width: 20rem;
  }

  .nav-links {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;

    // gap: 3rem;

    .nav-link__item {
      list-style: none;
      letter-spacing: 0.1rem;
      cursor: pointer;
      @include text-sm();

      a {
        color: #000;
        text-decoration: none;
      }
      &:hover a:not(.dropdown-menu__item) {
        color: $secondary;
        text-decoration: underline;
        text-decoration-color: $secondary;
        text-decoration-thickness: 0.3rem;
        text-underline-offset: 1.2rem;
      }
    }



    .dropdown-menu {
      position: absolute;
      padding: 2rem 0;
      // bottom: 10%;
      top: 11%;
      // width: 24rem;
      // height: 26rem;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      background-color: $gray;
      transition: all 0.2s;
      animation: MoveInBottom 0.3s ease-out backwards;
      display: none;
      
      li {
        list-style: none;
        padding: 0.6rem 0;
        @include text-xsm();

        &:hover {
          background-color: $secondary;
        }
        &:hover a {
          color: #fff;
        }

        .dropdown-menu__item {
          padding: 3rem;
        }
      }
    }

    // .services-dropdown{
    //   top: 12%;
    // }

    .dropdown-link:hover .dropdown-menu{
      display: flex;
    }
  }

  form {
    display: flex;
    align-items: center;

    input {
      padding: 1rem;
      outline: none;
      border-top-left-radius: 2rem;
      border-bottom-left-radius: 2rem;
      border-right: none;
      border: none;
      background-color: $gray;
      letter-spacing: 0.1rem;
      @include text-xsm();

      &:focus {
        border: 0.1rem solid $secondary;
        border-right: none;
      }
    }

    button {
      padding: 1rem;
      border-top-right-radius: 2rem;
      border-bottom-right-radius: 2rem;
      cursor: pointer;
      border: none;
      // color: #fff;
      background-color: $secondary;
      width: 4rem;
      display: flex;
      align-items: center;
    }
  }
  .burger {
    cursor: pointer;
    display: none;

    & span {
      padding: 0.1rem 1.1rem;
      background: $secondary;
      margin: 0.5rem 0;
      display: block;
    }
  }

  .arrow {
    cursor: pointer;
    display: none;
    img {
      width: 4rem;
    }
  }
}

/************************HERO SECTION***********************/
main {
  // #hero{
  //   position: relative;
  // }
  .banner {
    min-height: 90vh;
    background-image: url("/images/slide1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .banner-btn {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;

    .btn__prev,
    .btn__next {
      // position: absolute;
      padding: 2rem;
      width: 4rem;
      height: 5rem;
      background-color: $secondary;
      opacity: 0.5;
      cursor: pointer;

      &:hover {
        opacity: 1;
      }
    }
  }

  /******************** INFO SECTION*********************/

  .info__summary {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // height: 45vh;
    padding: 5rem;
    // padding-bottom: 5rem;
    background: linear-gradient(45deg, $white 50%, $secondary 50%);

    h2 {
      z-index: 2;
      width: 50%;
      color: $secondary;
      @include text-lg();
      font-weight: 500;
    }

    .info__badges {
      display: flex;
      justify-content: center;
      align-items: center;
      // flex-direction: column;
      height: 100%;
      width: 45%;
      gap: 3rem;

      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        gap: 3rem;
      }

      .badge {
        // height: 5rem;
        position: relative;
        padding: 2rem 2.5rem;
        width: 23rem;
        color: $info;
        display: flex;
        justify-content: center;
        flex-direction: column;
        cursor: pointer;
        border-radius: 0.7rem;
        border: 0.1rem solid $info;
        background: linear-gradient(45deg, $white 50%, $secondary 50%);

        i {
          position: absolute;
          top: 8%;
          left: 5%;
          font-size: 3rem;
        }

        p {
          margin: 0 auto;
          text-shadow: 0rem 0.1rem 0.01rem #000;
        }

        .number {
          @include text-md();
          font-weight: 600;
        }
        .text {
          @include text-sm($size: 1.9rem);
        }
      }
    }
  }

  /******************CARDS SECTION*******************/
  .cards__container {
    display: flex;
    justify-content: space-evenly;
    // flex-wrap: wrap;
    width: 100%;
    // height: 50vh;
    padding: 8rem;

    .card {
      padding: 2rem;
      // width: 30rem;
      // height: 30rem;
      cursor: pointer;
      border-radius: 0.9rem;
      box-shadow: 0.2rem 0.2rem 2rem 0.5rem $gray;

      // text-align: center;

      .card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;

        h3 {
          font-size: 3rem;
          color: $secondary;
          font-weight: 400;
          text-decoration: underline;
          text-decoration-color: $secondary;
          text-underline-offset: 1rem;
          text-decoration-thickness: 0.2rem;
        }

        i {
          font-size: 2.7rem;
          color: $secondary;
        }
      }

      .card-body {
        line-height: 2.5rem;
        @include text-xsm();
      }
    }

    .card:hover h3,
    i {
      color: #fff;
      text-decoration-color: #fff;
    }

    .card:hover {
      background-color: $secondary;
      color: #fff;
      box-shadow: none;
    }

    .card:hover i {
      color: #fff;
    }
  }
}

/******************INQUIRY SECTION*******************/
.contact__container {
  width: 100%;
  min-height: 45vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $secondary;
  padding: 0 5rem;
  background: linear-gradient(120deg, $white 50%, $secondary 50%);
  border-top: 0.1rem solid rgba($secondary, 0.5);

  .instruction {
    width: 50%;

    h2 {
      @include text-lg($weight: 500);
    }
    p {
      line-height: 2.5rem;
      @include text-sm();
      width: 70%;
    }
  }

  form {
    width: 40%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    background-color: #fff;
    font-size: 5rem;

    input,
    select,
    textarea {
      padding: 1rem 1rem;
      outline: none;
      background-color: $gray;
      border: none;

      &:focus {
        border: 0.1rem solid $secondary;
      }
    }

    button {
      padding: 1.5rem 2rem;
      background-color: $secondary;
      color: #fff;
      cursor: pointer;
      border: none;
      width: 60%;
      border-radius: 0.5rem;
      @include text-xsm($weight: 600);

      &:hover {
        background-color: lighten($secondary, 5);
      }
    }
  }
}

/*********************CONTACT SECTION**********************/
footer {
  .footer-content {
    min-height: 30vh;
    width: 100%;
    background-color: #1d1d1d;
    color: #fff;
    padding: 8rem 4rem;
    display: flex;
    justify-content: space-evenly;

    h3 {
      @include text-sm($weight: 600, $size: 1.9rem);
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      margin-bottom: 3rem;
    }

    .address p,
    .open-hours p {
      line-height: 1.9;
      color: $gray;
      @include text-xsm();
    }

    .resources span,
    .socials span {
      display: flex;
      flex-direction: column;
      line-height: 1.9;

      a {
        color: #fff;
        text-decoration: none;
        @include text-xsm();

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  .copyright {
    padding: 3rem;
    background-color: #141414;

    p {
      color: $gray;
      @include text-xsm($weight: 500);
    }
  }
}
